{# FORGE-EXAMPLE: This is the Nunjucks template that Forge renders for each step.
   It receives `blocks` (rendered HTML), `step`, `fieldValidationErrors`, and any view.locals. #}
{%- extends "partials/layout.njk" -%}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-body" %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    serviceName: serviceName | default("HMPPS Forge Examples"),
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block beforeContent %}
  <div class="hmpps-demo-banner">
    <div class="hmpps-demo-banner__container">
      <strong class="hmpps-demo-banner__tag govuk-tag govuk-tag--red">Demo</strong>
      <span class="hmpps-demo-banner__text">
        This is a demonstration app built with HMPPS Forge. It is not a real GOV.UK service.
      </span>
    </div>
  </div>
  {% if step.backlink %}
    <a href="{{ step.backlink }}" class="govuk-back-link">Back</a>
  {% else %}
    <div class="govuk-!-margin-bottom-5"></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ contentClasses | default('govuk-grid-column-two-thirds') }}">
      {% set errorList = toErrorList(fieldValidationErrors, domainValidationErrors) %}
      {% if errorList.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% for block in blocks %}
          {{ block | safe }}
        {% endfor %}
      </form>
    </div>
  </div>
{% endblock %}
