{% extends "govuk/template.njk" %}

{% set bodyAttributes = { 'data-scroll-restore': '' } %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  <link rel="llms-txt" href="/llms.txt"/>
  <link rel="llms-full-txt" href="/llms-full.txt"/>
{% endblock %}

{% block pageTitle %}
  {%- if pageTitle -%}
    {{ pageTitle }}
  {%- elif data and data.pageTitle -%}
    {{ data.pageTitle }} - {{ applicationName }}
  {%- elif step and step.title -%}
    {{ step.title }} - {{ applicationName }}
  {%- else -%}
    {{ applicationName }}
  {%- endif -%}
{% endblock %}

{% block govukHeader %}
  {% include "./header.njk" %}
{% endblock %}


{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
