.pattern-banner {
  @include govuk-width-container;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid govuk-functional-colour(border);

  &__container {
    @include govuk-font($size: 16);
    display: flex;
    align-items: center;
    gap: govuk-spacing(2);
    margin: 0;
    color: govuk-functional-colour(text);
  }

  &__tag {
    @include govuk-font-size($size: 16);
    flex-shrink: 0;
  }

  &__text {
    @include govuk-font($size: 16, $weight: 'bold');
    flex-grow: 1;
  }

  &__close {
    @include govuk-font-size($size: 16);
    flex-shrink: 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
